@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark: #0f172a;
  --color-primary: #0284c7;
  --color-light: #e2e8f0;
  --color-graybg: #f8fafc;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--color-graybg);
  color: var(--color-dark);
}
